:root {
    --orange: rgb(232, 145, 14);

}


body {
    margin: 0px;
   
     
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px transparent solid;
    background-color: blanchedalmond;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
   

}

header nav ul li {
    padding-left: 20px;


}

a {
    text-decoration: none;
    color: inherit;

}

button {
    margin-left: 5px;
}

img {
    height: 20px;
    margin-right: 10px
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px transparent solid;
    background-color: #D4AF36;
    border-radius: 50px;
    

}

.conteneur h1 {
    color: var(--orange);
    font-size: 55px;
  
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange)

}

.button1 {
    border: 10px transparent solid;
    background-color: red;
    color: white;
    border-radius: 30px;
}

.button2 {
    border: 10px white solid;
    background-color: grey;
    border-radius: 30px;
    color: white;
    opacity: 0.5;
}

